<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>广播式WebSocket</title>
    <script th:src="@{js/sockjs.min.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
    <script th:src="@{js/jquery-3.1.1.js}"></script>
    <link rel="stylesheet" type="text/css" href="themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="themes/icon.css"/>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/jquery.easyui.min.js}"></script>
    <script src="https://cdn.bootcss.com/jsoneditor/5.26.3/jsoneditor.js"></script>
    <link href="https://cdn.bootcss.com/jsoneditor/5.26.3/jsoneditor.css" rel="stylesheet"/>
    <link rel="stylesheet"
          href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body onload="connect()" class="easyui-layout">
<noscript><h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2></noscript>

<div data-options="region:'north',title:'选项',split:true" style="height:100px;">
    <button id="connect" onclick="connect();">连接</button>
    <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
    <button onclick="clear2();">清除日志</button>

    <select id="list" style="width:400px;">

    </select>
</div>


<div id="left_list" data-options="region:'west',title:'请求地址',split:true" style="width:30%;padding-left: 30px;">
</div>


<div data-options="region:'center',title:'数据'" style="padding:0px;">
    <div class="easyui-tabs" fit="true">
        <div id="right_show" title="详情" style="padding:10px; margin: 20px">
            这里面显示详情
        </div>
        <div id="request_id" title="Request数据Json" style="padding:10px;">
        </div>
        <div id="response_id" title="Response数据Json" style="padding:10px;">
        </div>
    </div>
</div>


<script type="text/javascript">
    var stompClient = null;

    var datas = new Array()
    var temp_datas = new Array()
    var socket = null
    var devices = new Array()
    var options = {
        mode: 'view',
        modes: ['text', 'code', 'view'],
        onEditable: function (node) {
            return false;
        }
    };

    var response_json = document.getElementById("response_id")
    var response_editor = new JSONEditor(response_json, options);

    /**
     *设置已经连接
     * @param connected
     */
    function setConnected(connected) {
        document.getElementById("connect").disabled = connected;
        document.getElementById("disconnect").disabled = !connected;
        $("#response").html();
    }

    function connect() {


        //长连接  连接  endopointSang
        socket = new WebSocket('ws://192.168.3.5:2017');
        socket.onopen = function () {
            setConnected(true)
        }
        socket.onmessage = function (evt) {

            var data = JSON.parse(evt.data);

            datas.push(data)
            showMsg()

            if ($.inArray(data.device, devices) == -1) {
                devices.push(data.device)
                $(list).append('<option value=' + data.device + '>' + data.device + ' </option>');
            }
        }
    }

    function showMsg() {
        var div1 = document.getElementById("left_list")

        var divItem = document.createElement("a")
        divItem.id = datas.length - 1
        divItem.className = "list-group-item"
        divItem.href = "#"
        divItem.innerText = datas[datas.length - 1].method + "\n" + datas[datas.length - 1].url


        divItem.onclick = function (ev) {
            document.getElementById("right_show").innerText =
                datas[this.id].device + "\n" + datas[this.id].method + "\n" + datas[this.id].url + "\n" + datas[this.id].responseBody + "\n" + datas[this.id].requestBody + "\n"

            response_editor.set($.parseJSON(datas[this.id].responseBody))
        }


        if (div1.children == null || div1.children.length == 0) {
            div1.appendChild(divItem);
        } else {
            div1.insertBefore(divItem, div1.firstChild);
        }
    }

    function disconnect() {

        if (socket != null) {
            socket.onclose
        }

        setConnected(false);
        console.log('Disconnected');
    }

    function clear2() {
        document.getElementById("left_list").innerText = ""
        document.getElementById("right_show").innerText = ""

    }

    //发送 消息 通过短链接. 发送到  welcome 接口
    function sendName() {
        var name = $('#name').val();
        stompClient.send("/app/welcome", {}, JSON.stringify({'name': name}));
    }

    // select option  选择事件
    $(list).change(function () {

        //清除数据
        clear2()

        //var options=$("select#test option:selected"); //可以获取到选中的option
        var options = $(this).children("option:selected"); //也可以获取到选中的option
        //alert(options.val());   //拿到选中项的值
        //alert(options.text());   //拿到选中项的文本
        var texts = options.text();
        //https://blog.csdn.net/xionghui2007/article/details/78760464
        /* <![CDATA[ */
        for (var i = 0; i < datas.length; i++) {
            if (datas[i].device != texts) {
                datas.splice(i, 1);
            }
        }
        /* ]]> */
        showMsg()


    });

</script>
</body>
</html>